.left {
  width: 200px;
  position: absolute;
  left: 100px;
  margin-bottom: 10px;
  
}

.right {
  
  position: absolute;
  right: 100px;
  top: 100px;
  margin-bottom: 10px;
 
}

.chatCard {
  margin: 0 auto;
  height: 500px;
  margin-top: 50px;
}

.InputText {
  width: 200px;
  margin: 0 auto;
  margin-top:  20px;
}

p {
  font-size: 12px;
}
