
.BOX {
    margin: 0 auto;
}
.TodoLoop {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom:  20px;
    display: block;



}

h4 {
    text-align: center;
}

.card-todo {
    margin: 0 auto;
    margin-bottom:  20px;

}

.button-add {
    margin-top: 10px;
    margin: 0 auto;
}