@import '~antd/dist/antd.css';

.Right {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #1b2836;
}

.Right div div {
    width: 360px;
}

.Right div h1 {
    color:white
}

.Right div h2 {
    color:white
}

.Right div div img {
    height: 50px;
    width: 50px;
}

.Right div div span {
    float: right;
    color: white;
}

.Right div div span button {
    background-color: #1b2836;
    border: 2px solid;
    border-color: #1da1f2;
    color: #1da1f2;
    border-radius: 25px 25px 25px 25px;
    padding: 10px;
    cursor: pointer;
}

.Right div div span button:hover {
    background-color: #eaf5fd;
}

.Right div div input {
    padding: 10px;
    width: 100%;
    margin: 8px auto;
    background-color: #141d26;
    color: #88999a;
    border: 1px solid black;
    border-radius: 3px;
}

.Right div div button {
    border: none;
    border-radius: 25px;
    padding: 5px 20px;
    color: white;
    background-color: #1da1f2;
    font-weight: bold;
}