@import '~antd/dist/antd.css';

.Left {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #1da1f2;
}

.Left div {
    display: block;
}

.Left div div {
    font-weight: bold;
    font-size: 18px;
    margin: 48px auto;
}

.Left div div span{
    padding-right: 10px;
}