.footer {
    width: 100%;
    padding: 11px 0px;
    background-color: #1b2836;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    line-height: 20px;
}

.footer ul {
    margin: 0px;
}

.footer ul li {
    padding: 0px 9px;
    font-size: 12px;
    color: #aab8c2;
    display: inline-block;
}